<!-- Add this section below your existing form in resume-form.component.html -->
<app-navbar></app-navbar>
<div *ngIf="message" class="message-box">
  <button (click)="closeMessage()"><i class="bi bi-x-lg"></i></button>
  <h3 class="h3"><i class="bi bi-info-circle-fill"></i>{{ message }}</h3>
</div>
<form (ngSubmit)="onSubmit()">
  <div class="container">
    <h2 class="edu">Education Qualification</h2>
    <div class="education-form-row">
      <div class="education-form-column">
        <label for="iname" class="education-label">Institute Name : </label>
        <input type="text" id="s_name" name="s_name" [(ngModel)]="s_name" required>

    <label for="city" class="education-label">City : </label>
    <input type="text" id="s_location" name="s_location" [(ngModel)]="s_location" required>

    
  </div>

  <div class="education-form-column">
   
    <label for="state" class="education-label">State : </label>
    <input type="text" id="state" name="state" [(ngModel)]="state" required>
    
    <label for="degree" class="education-label">Name Of Degree : </label>
    <input type="text" id="degree" name="degree" [(ngModel)]="degree" required>
  </div>
</div>

<div class="education-form-row">
  <div class="education-form-column">
    <label for="study" class="education-label">Field Of Study : </label>
    <input type="text" id="field_of_study" name="field_of_study" [(ngModel)]="field_of_study" required>

    <label for="sdate" class="education-label">Graduction Start Date : </label>
    <input type="date" id="graduation_date" name="graduation_date" [(ngModel)]="graduation_date" required>
   
  </div>
  
  <div class="education-form-column">
    <label for="grades" class="education-label">Grades :  </label>
    <input type="number" id="grades" name="grades" [(ngModel)]="grades" required>
  </div>
  
</div>
<button type="submit">Submit</button>
</div>
</form>

<div class="container2" style="border: 3px dashed blue; border-radius: 10px; width: 70%; margin-left: 18%; height: 100px; margin-top: 20px;">
  BCA 
  </div>