<app-navbar></app-navbar>
<div class="container">
<h2 class="edu">Experience</h2>
<div class="education-form-row">
  <div class="education-form-column">
    <label for="jtitle" class="education-label">Job Title :  </label>
    <input type="text" id="jtitle" name="jtitle" required>

    <label for="city" class="education-label">City : </label>
    <input type="text" id="city" name="city" required>
  </div>

  <div class="education-form-column">
    <label for="employer" class="education-label">Employer : </label>
    <input type="text" id="employer" name="employer" required>

    <label for="state" class="education-label">State : </label>
    <input type="text" id="state" name="state" required>
  </div>
</div>

<div class="education-form-row">
  <div class="education-form-column">
    <label for="jsdate" class="education-label">Start Date : </label>
    <input type="date" id="jsdate" name="jsdate" required>
  </div>

  <div class="education-form-column">
    <label for="jedate" class="education-label">End Date : </label>
    <input type="date" id="jedate" name="jedate" required>
  </div>

  
</div>
<div class="education-form-row">
    <div class="education-form-column">
        <label for="jobresponse" class="education-label">Job Responsibilities : </label>
        <textarea id="address" name="jobresponse"  rows="4" cols="100" required></textarea> 
    </div>
  
    <div class="education-form-column">
      
    </div>
  
    
  </div>

<button type="submit" routerLink="/form-info4">Submit</button>
</div>