<!-- resume-form.component.html -->
<app-navbar></app-navbar>
<div class="container">
    <h2>Interest And About Your Self</h2>
  
    <div class="form-row">
      <div class="form-column">
        <label for="interest1">Interest : </label>
        <input type="text" id="interest1" name="interest1"  required>
  
    
        <label for="interest2">Interest : </label>
        <input type="text" id="interest2" name="interest2"  required>

        <label for="interest3">Interest : </label>
        <input type="text" id="interest3" name="interest3"  required>
       
    </div>
    
    <div class="form-column">
        <div class="form-column">
            <label for="address"> About Your Self : </label>
            <textarea id="address" name="address"  rows="9" required></textarea>
      </div>
      <button type="submit" routerLink="">Submit</button>
    </div>
  
   
  
  </div>
  