.display-5{
    font-size:1.5em;
    font-weight:800;
    line-height:1.2;
    margin-top:15%;
}
.text
{
    color: #393185;
}
.resume
{
    height: 95vh;
    width: 80%;
    // margin-right: -10px;
    align-content: center;
    justify-content: center;
}
.mb-4 .pb-2t{

    line-height:1.2
}
.col-md-6
{
    flex:0 0 auto;
width:50%
}
.display-6{font-size:calc(1.375rem + 1.5vw);
    }@media (min-width: 1200px){.display-6{font-size:2.5rem}}
    .button-19 {
        appearance: button;
        background-color: #0a6efc;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: din-round,sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 16px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 25%;
      }
      
      .button-19:after {
        background-clip: padding-box;
        background-color: #1CB0F6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
      
      .button-19:main,
      .button-19:focus {
        user-select: auto;
      }
      
      .button-19:hover:not(:disabled) {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
      }
      
      .button-19:disabled {
        cursor: auto;
      }
      
      .button-19:active {
        border-width: 4px 0 0;
        background: none;
      }
@media (min-width: 1200px)
{.display-5{font-size:3rem}}